[submodule "third_party/openwch/ch570"]
	path = third_party/openwch/ch570
	url = https://github.com/openwch/ch570.git
[submodule "third_party/openwch/ch592"]
	path = third_party/openwch/ch592
	url = https://github.com/openwch/ch592.git
[submodule "third_party/openboot"]
	path = third_party/openboot
	url = https://github.com/openkeyboard-org/OpenBoot.git
